.one {
    background: #799f8e;
    padding: 50px 20px;
    text-align: center;
}

.one h1 {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    color: #ffffff;
    font-size: 3em;
    font-weight: normal;
    line-height: 1;
    padding: 10px 0;
    margin: 0;
    display: inline-block;
}

.one h1:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    height: 200%;
    border-radius: 50%/30%;
    border: 6px solid #ffffff;
    border-left-color: transparent;
    border-right-color: transparent;
}

@media (max-width: 420px) {
    .one h1 {font-size: 2em}
}

nav {
    background-color: #e4efeb;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    color: #3b4d45;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
}
body {
    background-image: url("/img/fon.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.round-image {
    margin-top: 20px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.indented-text {
    color: #3b4d45;
    padding-left: 90px;
    margin-top: 100px;
}

.nail-image {
    margin-top: -100px;
    margin-left: 1275px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.nail-text {
    color: #3b4d45;
    padding-left: 1350px;
    margin-top: 145px;
}

.makeup-image {
    margin-top: -100px;
    width: 300px; 
    height: 300px; 
    border-radius: 50%; 
    overflow: hidden; 
}

.make-text {
    color: #3b4d45;
    padding-left: 50px;  
    margin-top: 145px; 
}

.container1 {
    display: flex;
    align-items: flex-start;
  }
  
  .text1 {
    margin-left: 350px;
    margin-top: -210px; 
  }
  .text2 {
    margin-left: 350px; 
  }
  .text3 {
    margin-left: 350px; 
  }

  .serv-text {
    color: #3b4d45;
    padding-left: 1360px;
    margin-top: -1px;  
}
.container2 {
    display: flex;
    align-items: flex-start;
  }
  
  .text4 {
    margin-left: 850px;
    margin-top: -210px; 
  }
  .text5 {
    margin-left: 725px; 
  }

  .serv-text {
    color: #3b4d45;
    padding-left: 1360px;
    margin-top: -1px;  
}
.container3 {
    display: flex;
    align-items: flex-start;
  }
  
  .text6 {
    margin-left: 350px;
    margin-top: -210px; 
  }
  .text7 {
    margin-left: 350px; 
  }
  table {
    width: 50%;
    height: 300px;
    font-size: 20px;
  }
  label {
    display: block;
    margin-bottom: 8px;
  }

  form {
    margin-left: 700px;
  }